body{
	background-image: url(../img/fondo.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

#formulario{
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 7px;
	padding: 5%;
	background-color: #65625c;
}

.form-group label{
	color: #FFFFFF;
}

#datos{
	color: #FFFFFF;
	font-weight: 600;
}

#data{
	columns: #FFFFFF;
	font-weight: 600;
}

.btn-primary{
	margin: 2%;
	background-color: #584355;
	border: 1px solid #26263e;
	width: 22%;
}

p{
	margin-top: 10px;
	margin-bottom: 0;
}

.recover{
	background-color: #584355;
	border: 1px solid #26263e;
	width: 11%;
}

.btn-primary:hover{
	background-color: white;
	color: black;
}